/* main.css */
@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* padding: 0 2rem; */
    width: 100%;
  }
}

.tag-wrapper {
  display: flex;
}

.tag {
  border-radius: 999px;
  margin: 0.2rem;
  padding: 0 0.5rem;
  background: var(--color-background-highlight-3);
  color: var(--color-text-3);
}

/* 文章中的表格 */
.post-body figure.table table {
  width: 100% !important;
  border-collapse: collapse !important;
  margin: 1.5em 0 !important;
  border: 1px solid #ddd !important;
}

.post-body figure.table th,
.post-body figure.table td {
  border: 1px solid #ddd !important;
  padding: 8px !important;
  background-color: var(--color-background-mute-2) !important;
  color: var(--color-text-3);
}

strong {
    font-weight: bolder;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

code {
    font-family: monospace;
    color: #f8f8f2;       /* 淺色文字 */
    background-color: #1E1E1E; /* 深灰背景 */
    padding: 1px 2px;
    border-radius: 4px;
}

